/* Applied CSS Variables for Color Scheme and Font Choices */
:root {
  --blue: #0000ff;
  --muted: #a9b5b4;
  --bright: #ff6961;
  --throw-back-title: 'Apple Garamond Light', serif;
  --bit-Font: VT323, monospace; 
}

/*  Overall Font Display */
body {
  font-family: var(--throw-back-title);
  font-size: 16px;
  line-height: 1;
}

/* Default TextArea Overwrite */
textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  border-bottom: #000000 1px solid;
  padding: 10px;
}
/* Styles for Header */
.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  font-family: var(--bit-Font);
}

/* Hours Column styles */
.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  font-family: var(--bit-Font);
  font-size: 3.2em;
}
/* Class to Dynamically change Colors */
.past {
  background-color: var(--muted);
  color:var(--blue);
}
/* Class to Dynamically change Colors */
.present {
  background-color: var(--bright);
  color: var(--blue);
}
/* Class to Dynamically change Colors */
.future {
  background-color: var(--blue);
  color: white;
}
/* Removed Border */
.saveBtn {
  border: 0px; 
  background-color: rgba(169 181 180 / 0.18%);
  color: white;
}
/* Add a Lil Floppy Disk */
.saveBtn::before{
  content: url('../images/Floppy-disk.png');
}
/* Add a Lil Animation on Hover */
.saveBtn:hover {
  font-size: 28px;
  background-color: rgba(169 181 180 / 0.88%);
  transition: all 0.3s ease-in-out;
}
