:root {
  --blue: #0000ff;
  --muted: #a9b5b4;
  --bright: #ff6961;
  --throw-back-title: 'Apple Garamond Light', serif;
  --bit-Font: VT323, monospace; 
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}


textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  font-family: var(--throw-back-title);
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;

}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

#hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  font-family: var(--bit-Font);
  font-size: 3.7em;
}

#past {
  background-color: var(--muted);
  color:var(--blue);
}

#present {
  background-color: var(--bright);
  color: var(--blue);
}

#future {
  background-color: var(--blue);
  color: white;
}

#saveBtn {
  border: 0px solid black;
  background-color: rgba(169 181 180 / 0.18%);
  color: white;
}
#saveBtn::before{
  content: url('../images/Floppy-disk.png');
}

#saveBtn:hover {
  font-size: 20px;
  background-color: rgba(169 181 180 / 0.88%);
  transition: all 0.3s ease-in-out;
}
